body {
    height: 100%;
    background-image: url("../assets/background/background.png");
    width:100%;
    z-index:0;
    position:relative;
    overflow:hidden;
    font-family: 'Quicksand';
    padding:0;
}

.floater-box {
    height: 100vh;
    display: block;
    position: relative;
    z-index: 30;
    overflow-y:scroll;

}

#blur-box {
    background-color:white;
    opacity:0.65;
    position: relative;
    z-index: 31;
}


#moving-pieces {
    position:fixed;
}

.anchor:before {
    display: block;
    content: " ";
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
}

#content-box {
    font-family: 'Quicksand', sans-serif;
    z-index:35;
    border: 2px white solid;
    padding-top:10px;
    padding-right:30px;
    padding-left:30px;
    padding-bottom:30px;
    overflow-x:hidden;
    overflow-y:scroll;
}

#content-border {
    position:relative;
    z-index:33;
    height:600px;
}

.header-padding {
    height: 60px;
}

.background-piece {
    height:auto;
    max-height:400px;
    bottom:-50px;
    position:absolute;
    width:130%;
    display:block;
    background-size:contain
}

#cliff {
    z-index:6;
    bottom:-950px;
    left:-200px;
}

#pool {
    z-index:7;
    max-height:600px;
    max-width:800px;
    width:auto;
    bottom:-1050px;
    left:0px;
}

#clouds {
    z-index:5;
    bottom:-860px;
    left: 300px;
}

#hill {
    z-index:8;
    bottom:-1050px;
    left:400px;
}


section {
    min-height: 120vh;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}



#hobbies-reading-content ul li {
display:block;
}

table ul li {
    display:block;
}

table  td, table td *  {
    vertical-align: top;
}

table.fixed { table-layout:fixed;
}


.relative-col {
    position:relative;
    max-width:16.16%
}

.navbar .nav > li > a {
    color: #000000;
    font-variant:all-small-caps;
    font-size: 1.5em;
}


#nav-menu {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
    background-color: #efdaeb;
    opacity:0.9;
    text-align: center;
}

ul li {
    display:inline-block;
    text-color:black;
}


.nav-justified {
    display:table;
}

.nav-justified > li{
    float:none;
    width:10%;
}


h2 {
    font-family: Space Mono;
}

.table-header {
    font-weight:bold;
}

#icons-wrapper {
    text-align:center;
}

.icon-empty-space {
    width:5%;
}


#carouselMyStuff {
    height:auto;
    width:auto;
}

.carousel-img {
    opacity: 1;
}

.img-circle {
    border-radius: 50%;
}

tr.spaceUnder>td {
    padding-bottom: 1em;
}


#hobbies-grid {
    position:relative;
    display:block;
}

.hobbies-grid {
    max-width:100%;

}

#landing-button {
    position:absolute;
    right:15%;
    font-size:20px;
}
